header section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 2rem;

  div:nth-of-type(1) a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.3rem 1rem;
    border-radius: 300rem;
    background-color: transparent;
    border: 0.1rem dashed;
    align-items: center;
    text-decoration: none;
    color: var(--pKleurZwart);
    transition: all 0.2s linear;

    svg {
      height: 0.7rem;
      width: auto;
      color: var(--pKleurZwart);
    }

    &:hover {
      transform: scale(1.1);

      background-color: #c91e1e;
      border-radius: 300rem;
      border-style: none;

      svg {
        color: white;
        transform: scale(1);
      }
    }
  }

  div:nth-of-type(2) {
    h1 {
      padding-top: 6rem;
    }
    img {
      width: 100%;
    }
  }

  h3 {
    padding-top: 2rem;
    font-weight: 400;
    color: var(--pKleurSubtext);
    line-height: 1.2em;
    font-weight: 500;
    font-size: 1.1em;
  }

  div:nth-of-type(3) {
    padding-top: 2rem;
    padding-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;

    p {
      border: 0.1rem solid var(--pKleurSubtext);
      border-radius: 3rem;
      padding: 0.2em 0.7em;
      align-self: center;
      color: var(--pKleurSubtext);
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 0.3rem;
      color: black;
      font-weight: 600;
      background-color: var(--achtergrondkleurSH);
      padding: 0.3rem 0.8rem;
      border-radius: 3rem;

      svg {
        height: 1rem;
        color: black;
      }
    }
  }

  div:nth-of-type(4) img {
    height: auto;
    width: 100%;
    border-radius: var(--borderRadiusMobiel);
    margin-top: 2rem;
  }
}

main article:nth-of-type(2) {
  div:nth-of-type(3) {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0;
    width: 100%;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 18.5rem;
    }
  }

  > img {
    display: flex;
    align-self: center;
    padding-bottom: 2rem;
    height: 7rem;
    width: 5.5rem;
  }
}

@media (width > 32em) {
  main article:nth-of-type(2) div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    img {
      height: 15rem;
    }
  }
}

@media (width > 52em) {
  article:nth-of-type(1) {
    h2 {
      width: 50%;
    }
    p {
      width: 70%;
    }
  }
  article:nth-of-type(2) {
    p {
      width: 70%;
    }
  }
  main article:nth-of-type(2) div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    img {
      height: 20rem;
    }
  }
}

@media (width > 62em) {
  main article:nth-of-type(2) div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    img {
      height: 25rem;
    }
  }
}

main article:nth-of-type(2) div:nth-of-type(4) {
  display: flex;
  flex-direction: column;

  div div:nth-of-type(1) {
    display: grid;
    grid-template-columns: max-content;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 4rem;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10.5rem;
    }
  }
}

main article:nth-of-type(2) div:nth-of-type(4) div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  gap: 2rem;

  img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11.5rem;
  }
}

@media (width > 32em) {
  main article:nth-of-type(2) {
    div:nth-of-type(4) > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      img {
        height: 8rem;
      }
    }
  }
}

@media (width > 52em) {
  main article:nth-of-type(2) {
    div:nth-of-type(4) > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      img {
        height: 9.5rem;
      }
    }
  }
}

@media (width > 52em) {
  main article:nth-of-type(2) {
    div:nth-of-type(4) > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      img {
        height: 12rem;
      }
    }
  }
}
