header section:nth-of-type(1) {
  a {
    background-color: var(--achtergrondkleurSH);
  }
}
main article:nth-of-type(2) {
  div:nth-of-type(3) {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 3rem 0;
    width: 100%;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 18.5rem;
    }
  }

  > img {
    display: flex;
    align-self: center;
    padding-bottom: 2rem;
    height: 7rem;
    width: 5.5rem;
  }
}

@media (width > 32em) {
  main article:nth-of-type(2) div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    img {
      height: 15rem;
    }
  }
}

@media (width > 52em) {
  article:nth-of-type(1) {
    p {
      width: 60%;
    }
  }
  article:nth-of-type(2) {
    p {
      width: 60%;
    }
  }
  main article:nth-of-type(2) div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    img {
      height: 20rem;
    }
  }
}

@media (width > 62em) {
  article:nth-of-type(1) {
    p {
      width: 70%;
    }
  }
  main article:nth-of-type(2) div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: start;

    img {
      height: 25rem;
    }
  }
}

main article:nth-of-type(2) div:nth-of-type(4) {
  display: flex;
  flex-direction: column;

  div div:nth-of-type(1) {
    display: grid;
    grid-template-columns: max-content;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 4rem;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10.5rem;
    }
  }
}

main article:nth-of-type(2) div:nth-of-type(4) div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  gap: 2rem;

  img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11.5rem;
  }
}

@media (width > 32em) {
  main article:nth-of-type(2) {
    div:nth-of-type(4) > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      img {
        height: 8rem;
      }
    }
  }
}

@media (width > 52em) {
  main article:nth-of-type(2) {
    div:nth-of-type(4) > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      img {
        height: 9.5rem;
      }
    }
  }
}

@media (width > 60em) {
  main article:nth-of-type(2) {
    div:nth-of-type(4) > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      img {
        height: 10.5rem;
      }
    }
  }
}

@media (width > 70em) {
  main article:nth-of-type(2) {
    div:nth-of-type(4) > div {
      gap: 5rem;

      img {
        height: 12rem;
      }
    }
  }
}
