header section:nth-of-type(1) {
  a {
    background-color: var(--achtergrondkleurTS);
    svg {
      height: 1rem;
    }
  }
}

main article:nth-of-type(2) {
  margin-bottom: 2rem;
}

@media (width > 52em) {
  main article:nth-of-type(2) {
    display: grid;
    grid-template-areas:
      "tekst  img"
      "tekst2 img"
      "tekst3 img";
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 2rem;
  }

  main article:nth-of-type(2) img {
    grid-area: img;
    height: 15rem;
  }
}
