@font-face {
  font-family: "monsBold";
  src: url(../fonts/Montserrat-Black.ttf);
}

@font-face {
  font-family: "monsSBold";
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "monsRegular";
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "interRegular";
  src: url(../fonts/Inter_18pt-Regular.ttf);
}

* {
  margin: 0;
}

/* kleuren */
:root {
  color-scheme: light dark;

  --pKleurZwart: light-dark(black, rgb(224, 224, 224));
  --pKleurWit: light-dark(white, black);
  --pKleurSubtext: light-dark(#7e7d7d, rgb(172, 172, 173));
  --pKleurGrijs: light-dark();

  /* Achtergronden */
  --achtergrondkleur: light-dark(white, rgb(23, 24, 24));

  --achtergrondkleurTS: light-dark(#00b6f0, #4dc1e8);
  --achtergrondkleurSH: light-dark(#ee9e9e7f, #ee9e9e);
  --achtergrondkleurIP: light-dark(#67e9a482, #67e9a3);
  --achtergrondkleurADE: light-dark(#f5f093, #fffccb);

  /* Borders */
  --borderRadiusMobiel: 0.8rem;
  --borderRadiusDesktop: 3rem;

  /* Logo's en svg's */
  --linkedIn: black;
  --tekstKleurOmgedraaid: light-dark(white, black);

  /* Buttons en links */
  --buttonMijnProjecten: #c91e1e;
  --borderRadiusButton: 0.2rem;
}

html {
  padding: 0 2rem;
}

body {
  background-color: var(--achtergrondkleur);
}

h1 {
  font-family: "monsBold";
  font-size: 2.5em;
  line-height: 1.1;

  padding-top: 1rem;
  color: var(--pKleurZwart);
}

h2 {
  padding: 0.5rem 0;
  font-size: 1.5em;
  font-family: "monsSBold";
  font-weight: 900;
  color: var(--pKleurZwart);
}

h3 {
  color: var(--pKleurZwart);
  font-family: "monsRegular";
  font-size: 1.1em;
}

h4 {
  color: var(--pKleurZwart);
  font-family: "monsRegular";
  font-size: 1em;
}

p {
  font-family: "interRegular";
  font-size: 1em;
  color: var(--pKleurZwart);
  line-height: 1.3;
}

a {
  font-family: "interRegular";
}

@media (width > 35em) {
  html {
    padding: 0 2rem;
  }
  h1 {
    width: 85%;
  }
}

@media (width > 52em) {
  html {
    padding: 0 4rem;
  }
  p {
    font-size: 1.1em;
  }
}

@media (width > 60em) {
  html {
    padding: 0 6rem;
  }

  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 1.2em;
  }
}

@media (width > 70em) {
  html {
    padding: 0 10rem;
    background-color: var(--achtergrondkleur);
  }

  main {
    padding: 0;
  }

  h1 {
    font-size: 4em;
    width: 70%;
  }
  h2 {
    font-size: 2em;
    width: 80%;
  }

  h3 {
    width: 50%;
  }

  p {
    font-size: 1.1em;
  }
}

header {
  color: var(--tekstKleurHeader);
  /* margin: 2rem; */

  .hoofdtekst {
    margin: 2rem 0;
    padding-top: 4rem;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  filter: blur(1rem);
  transition: all 0.8s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

footer {
  padding: 2rem 0;
  height: 10rem;
  border-top: 0.1rem solid;

  h3 {
    padding-bottom: 1rem;
  }

  span {
    color: #c91e1e;
  }

  ul {
    display: flex;
    padding-left: 0;

    li {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      gap: 0.5rem;

      p {
        color: var(--pKleurSubtext);
      }

      a {
        color: var(--pKleurSubtext);
        text-decoration: none;
        transition: all 0.2s linear;
        font-size: 1.1em;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
