@import url("https://use.typekit.net/tre1kwo.css");
@import url("https://use.typekit.net/alp8nbk.css");

* {
  margin: 0;
  font-family: "proxima-nova", sans-serif;
}

/* kleuren */
:root {
  color-scheme: light dark;

  --tekstKleur: light-dark(black, white);

  /* Achtergronden */
  
  --borderRadiusMobiel: 1rem;
  --borderRadiusDesktop: 3rem;

  /* Logo's en svg's */
  --linkedIn: white;
  --tekstKleurOmgedraaid: light-dark(white, black);

  /* Buttons en links */
  --buttonMijnProjecten: #c91e1e;
}

html {
  color: var(--tekstKleur);
}

@media (prefers-color-scheme: dark) {
  html {
    background: linear-gradient(180deg, #030620 0%, #0b365a 100%);
  }
}

p {
  font-size: 1.07em;
}

@media (width > 60em) {
  html{
    margin: 0 8rem;
  }
  p {
    font-size: 1.2em;
  }
}

@media (width > 70em) {
  html{
    margin: 0 9rem;
  }
}

header {
  color: var(--tekstKleurHeader);
  /* margin: 2rem; */

  div{
    margin: 2rem;
  }
  nav {
    background-color: #c91e1e;
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    svg {
      color: var(--linkedIn);
      height: 2em;
    }
  }
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  li {
    list-style-type: none;

    a {
      color: white;

      :hover {
        text-decoration: underline;
      }
    }
  }
}

footer{
  padding: 2rem 0;
  height: 10rem;
  display: flex;
  flex-direction: column;
  background-color: #c91e1e;
  color: white;

  li{
    list-style-type: none;
  }

  a{
    color: white;
    text-decoration: none;
    
  }
}