@import url("https://use.typekit.net/tre1kwo.css");
@import url("https://use.typekit.net/alp8nbk.css");

* {
  margin: 0;
  font-family: "proxima-nova", sans-serif;
}

/* kleuren */
:root {
  color-scheme: light dark;

  --tekstKleur: light-dark(black, white);
  --tekstKleurHeader: white;

  /* Achtergronden */
  --achtergrond: light-dark(white, black);
  --headerAchtergrond: light-dark(url: "/images/headerBackground.png");
  --cards: light-dark(#e7e8e9, #3f4c59);
  --borderRadius: .75rem;

  /* Logo's en svg's */
  --linkedIn: white;
  --tekstKleurOmgedraaid: light-dark(white, black);

  /* Buttons en links */
  --buttonMijnProjecten: #c91e1e;
}

html {
  background-color: var(--achtergrond);
  color: var(--tekstKleur);
}

main {
  padding: 1rem;
}

p {
  font-size: 1.1em;
}

@media (width > 50em) {
  p {
    font-size: 1.3em;
  }
}

header {
  color: var(--tekstKleurHeader);
  padding: 2rem;
  background-color: var(--achtergrond);

  nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;

    svg {
      color: var(--linkedIn);
      height: 2em;
    }
  }
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  li {
    list-style-type: none;

    a {
      color: var(--tekstKleurHeader);

      :hover {
        text-decoration: underline;
      }
    }
  }
}
